@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


#header {
	background-color: rgba(255, 208, 208, 1);
	background-size: cover;
	padding: 0px 80px;
	display: flex;
	justify-content: space-between; /* so text and avatar on opposite sides*/
  position: absolute;
  height: 90px;
  left: 0px;
  right: 0px; /* instead of width */
  top: 0px;
}

#navbar {
  padding: 4px 80px;
  background-color: #FFE5E5;
  font-family: 'Redressed', cursive;
  font-weight: 400;
  font-size: 34px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 90px;
}

#navbar h2 {
  padding: 6px 0px 0px 0px;
}

.container {
  padding: 20px 100px;
  position: relative;
  top: 120px;
}

.container img {
	height: 280px;
}

#avatar {
	width: 75px;
  height: 75px;
}

#header h1 {
	margin: 0px;
  font-family: 'Redressed', cursive;
  font-weight: 400;
  font-size: 68px;
  line-height: 84px;
}

#menuIcon {
  width: 75px;
  height: 75px;
  padding-right: 20px;
}

/* h1:hover {
	color: red;
} */

.all-books {
	background-color: #FFF4F4;
  border-radius: 5px;
  display: flex;
	padding: 10px;
	border: 1px solid red;
	flex-direction: column;
	/*^^ does the same as flex-wrap: wrap;*/
}

.all-books img {
  border-radius: 4px;
  margin: 4px;
}

#box {
  background-color: #FFE5E5;
  height: 280px;
  width: 180px;
  border: 1px solid #FFA7A7;
  font-family: 'Redressed', cursive;
  font-size: 32px;
  padding: 60px 40px 0px;
  text-align: center;
  border-radius: 4px;
}

#box:hover {
  text-shadow: 2px 2px #FFA7A7;
}
